[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktf = "==0.20.1"
pyyaml = "*"
python-dotenv = "*"
exceptiongroup = "*"
flake8 = "*"
requests = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
